body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    font-feature-settings: "calt", "case", "ss03";
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

svg {
    font-size: inherit;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
