.index-wrapper {
    display: flex;
    display: flow-root;
    min-height: 100vh;
    color: #2c2c89;
    font-family: "Be Vietnam Pro", sans-serif;
    background: linear-gradient(to top, #9595c477 0, transparent 24em);

    .logo {
        width: 500px;
        max-width: 90vw;
        height: auto;
        margin: 4.5em auto 4.5em;
    }

    .icons-desc {
        font-style: italic;
        font-weight: 500;
        letter-spacing: 3px;
        color: #9595c4;
        text-align: center;
        font-size: 0.975em;
        display: flex;
        justify-content: center;
        overflow: hidden;
        // margin-bottom: 1.2em;

        div {
            white-space: nowrap;
        }

        @media screen and (max-width: 600px) {
            font-size: 0.9em;
            letter-spacing: 1px;
        }
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 1em 0 0;

        // @media screen and (max-width: 600px) {
        //     margin: 0.5em 0 0;
        // }

        > div {
            background: #fff;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 0px rgba(74, 84, 142, 0.25);
            padding: 15px;

            &:not(:last-child) {
                margin-right: 1.75em;

                @media screen and (max-width: 600px) {
                    margin-right: 0.75em;
                }
            }
        }

        .svg-wrapper {
            height: 1.5em;
            width: 1.5em;
        }
    }

    .section-description {
        background: #ebebfb;
        padding: 3em;
        margin: -1.5em 0 0;

        .description {
            font-size: 1.25em;
            margin: 0 0 0.5em;
            text-align: center;
        }
    }
    .join {
        text-align: center;

        a {
            display: inline-flex;
            align-items: center;
            background: #2c2c89;
            padding: 0.5em 1.5em;
            border-radius: 30px;
            transition: 0.3s ease;
            color: #ebebfb;
            text-decoration: none;
            transition: 0.2s ease;

            svg {
                margin-right: 0.25em;
            }
            &:hover {
                transform: scale(1.03);
            }
        }
    }

    .section-members {
        padding: 1.5em;
        max-width: 720px;
        margin: 0 auto;

        h2 {
            margin: 2em 0 0.5em;
        }

        .members {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 0.5em;
        }

        .member {
            border: solid 2px #ebebfb;
            border-radius: 0.5em;
            margin-top: 20px;
            padding: 1em 1.25em 1.25em;
            position: relative;
        }

        .member-icon {
            display: inline-flex;
            margin-top: -36px;
            border-radius: 999px;
            border: solid 2px #ebebfb;
            img {
                border-radius: 999px;
            }
            position: absolute;
            right: 1.25em;
        }

        .member-name {
            margin: 0 0 0;

            .member-mod {
                background: rgb(250, 187, 78);
                display: inline-flex;
                vertical-align: -1px;
                margin-left: 0.25em;
                width: 1.1em;
                height: 1.1em;
                border-radius: 999px;
                align-items: center;
                justify-content: center;

                svg {
                    color: white;
                }
            }
        }

        .member-fields {
            margin: 0.25em 0 0.75em;
            opacity: 0.5;
            display: flex;
            font-size: 0.8em;

            svg {
                margin-right: 0.25em;
            }
        }

        .member-links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.125em;
        }

        .member-twitter,
        .member-github {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 0.25em;
            text-decoration: none;
            color: inherit;

            svg {
                margin-right: 0.25em;
            }

            &:before {
                content: "";
                display: block;
                width: calc(100% + 3px);
                height: 5px;
                position: absolute;
                background: currentColor;
                left: -1.5px;
                bottom: 2px;
                opacity: 0.1;
                border-radius: 3px;
                transition: 0.2s ease;
            }

            &:hover:before {
                height: 1.2em;
                opacity: 0.2;
                width: calc(100% + 0.5em);
                left: -0.25em;
            }
        }

        .member-twitter {
            // background: #fff;
        }
    }

    .section-rules {
        padding: 1.5em;
        max-width: 720px;
        margin: 0 auto;

        ul {
            list-style: none;
            padding: 0;
        }

        a {
            color: inherit;
        }
    }

    .section-footer {
        padding: 1.5em;
        max-width: 720px;
        margin: 6em auto 0;

        p {
            font-size: 0.8em;
            opacity: 0.6;
            border-top: solid 2px #2c2c8988;
            padding-top: 0.5em;
        }
    }
}
